@** Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using SevenSpikes.Nop.Plugins.MegaMenu
@using SevenSpikes.Nop.Plugins.MegaMenu.Domain
@using SevenSpikes.Nop.Plugins.MegaMenu.Helpers
@using SevenSpikes.Nop.Plugins.MegaMenu.Models

@model MegaMenuCategoriesModels

@if (Model.CategoriesModels.Count > 0)
{
    var localizationHelper = EngineContext.Current.Resolve<ILocalizedSettingsHelper>();
    var megaMenuSettings = EngineContext.Current.Resolve<MegaMenuSettings>();
    var localizedMenuItemName = localizationHelper.GetLocalizedSettingValue(Constants.ResourceMenuItemName);
    if (megaMenuSettings.ShowCategoriesInASingleMenuItem)
    {
    <li class="no-hover">
        @if (Model.CategoriesModels.Count > 0)
        {
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <span class="with-subcategories labelForNextPlusButton">@localizedMenuItemName</span>
            <div class="plus-button"></div>
            <div class="sublist-wrap">
                <ul class="sublist">
                    <li class="back-button">
                        <div class="sublist-title">@localizedMenuItemName</div>
                        <span></span>
                    </li>
                    @foreach (var category in Model.CategoriesModels)
                    {
                        <li>
                            @switch (category.CategoryModel.Id)
                            {
                                case 9:
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    break;
                                case 5:
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                    break;
                                case 13:
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    break;
                                case 1:
                                    <i class="fa fa-child" aria-hidden="true"></i>
                                    break;
                                case 15:
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    break;
                                case 39:
                                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    break;
                            }
                            

                            @if (category.SubCategories.Count > 0)
                            {
                                <a href="@Url.RouteUrl("Category", new {SeName = category.CategoryModel.SeName})" title="@category.CategoryModel.Name" class="with-subcategories">@category.CategoryModel.Name</a>
                                <div class="plus-button"></div>
                                <div class="sublist-wrap">
                                    <ul class="sublist">
                                        <li class="back-button">
                                            <div class="sublist-title">@category.CategoryModel.Name</div>
                                            <span></span>
                                        </li>
                                        @{
                                            var categoriesCounter = 0;
                                            foreach (var subCategory in category.SubCategories)
                                            {
                                                categoriesCounter++;

                                                <li>
                                                    <a href="@Url.RouteUrl("Category", new {SeName = subCategory.CategoryModel.SeName})" title="@subCategory.CategoryModel.Name">@subCategory.CategoryModel.Name</a>
                                                </li>

                                            }
                                            if (categoriesCounter == megaMenuSettings.NumberOfCategories && megaMenuSettings.NumberOfCategories != 0)
                                            {
                                                <li class="view-all">
                                                    <a href="@Url.RouteUrl("Category", new {SeName = category.CategoryModel.SeName})" title="@T("SevenSpikes.MegaMenu.ViewAllCategories")">@T("SevenSpikes.MegaMenu.ViewAllCategories")</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <a href="@Url.RouteUrl("Category", new {SeName = category.CategoryModel.SeName})" title="@category.CategoryModel.Name">@category.CategoryModel.Name</a>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            <a href="#" title="@localizedMenuItemName">@localizedMenuItemName</a>
        }
    </li>
    }
    else
    {
        foreach (var category in Model.CategoriesModels)
        {
        <li><i class="fa fa-list-ul" aria-hidden="true"></i>
            @if (category.SubCategories.Count > 0)
            {
                <a href="@Url.RouteUrl("Category", new { SeName = category.CategoryModel.SeName })" title="@category.CategoryModel.Name" class="with-subcategories">@category.CategoryModel.Name</a>
                <div class="plus-button"></div>
                <div class="sublist-wrap">
                    <ul class="sublist">
                        <li class="back-button">
                            <span></span>
                        </li>
                        @{
                var categoriesCounter = 0;
                foreach (var subCategory in category.SubCategories)
                {
                    categoriesCounter++;
                                
                                <li>
                                    <a href="@Url.RouteUrl("Category", new { SeName = subCategory.CategoryModel.SeName })" title="@subCategory.CategoryModel.Name">@subCategory.CategoryModel.Name</a>
                                </li>
                }
                if (categoriesCounter == megaMenuSettings.NumberOfCategories && megaMenuSettings.NumberOfCategories != 0)
                {
                                <li  class="view-all">
                                    <a href="@Url.RouteUrl("Category", new { SeName = category.CategoryModel.SeName })" title="@T("SevenSpikes.MegaMenu.ViewAllCategories")">@T("SevenSpikes.MegaMenu.ViewAllCategories")</a>
                                </li>
                }
                        }
                    </ul>
                </div>
            }
            else
            {
                <a href="@Url.RouteUrl("Category", new { SeName = category.CategoryModel.SeName })" title="@category.CategoryModel.Name">@category.CategoryModel.Name</a>
		}
        </li>
        }
    }
}
