@model FooterModel
@using Nop.Web.Models.Common;
@using Nop.Core.Domain.Tax;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@using Nop.Services.Configuration;

@{
    var workingLanguageId = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Id;

    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var pinterestUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("lavellathemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("lavellathemesettings.vimeourl", String.Empty, storeId, true);
    var instagramUrl = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("lavellathemesettings.instagramurl", String.Empty, storeId, true);
    var removeDesignedBy = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("lavellathemesettings.removedesignedby", false, storeId, true);
    var removeCopyright = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("lavellathemesettings.removecopyright", false, storeId, true);
}

<div class="footer">
    <div class="footer-middle">
        <div class="fm-wrapper">
            <div class="fb-one">
                <h3><span>@T("SevenSpikes.Themes.Lavella.Common.Social")</span></h3>
                <ul class="soc-icon">
                    @if (!String.IsNullOrEmpty(Model.FacebookLink))
                    {
                        <li><a target="_blank" class="fb" href="@Model.FacebookLink"></a></li>
                    }
                    @if (!String.IsNullOrEmpty(Model.TwitterLink))
                    {
                        <li><a target="_blank" class="tw" href="@Model.TwitterLink"></a></li>
                    }
                    @if (!String.IsNullOrEmpty(Model.GooglePlusLink))
                    {
                        <li><a target="_blank" class="go" href="@Model.GooglePlusLink"></a></li>
                    }
                    @if (!String.IsNullOrEmpty(pinterestUrl))
                    {
                        <li><a target="_blank" class="pi" href="@pinterestUrl"></a></li>
                    }
                    @if (!String.IsNullOrEmpty(vimeoUrl))
                    {
                        <li><a target="_blank" class="vm" href="@vimeoUrl"></a></li>
                    }
                    @if (!String.IsNullOrEmpty(instagramUrl))
                    {
                        <li><a target="_blank" class="instagram" href="@instagramUrl"></a></li>
                    }
                    @if (!String.IsNullOrEmpty(Model.YoutubeLink))
                    {
                        <li><a target="_blank" class="yt" href="@Model.YoutubeLink"></a></li>
                    }
                    @if (!String.IsNullOrEmpty(Model.WechatLink))
                    {
                        <li><a target="_blank" class="wechat" href="@Model.WechatLink"></a></li>
                    }
                    @if (!String.IsNullOrEmpty(Model.WeiboLink))
                    {
                        <li><a target="_blank" class="weibo" href="@Model.WeiboLink"></a></li>
                    }
                    @if (Model.NewsEnabled)
                    {
                        <li><a class="rss" target="_blank" href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"></a></li>
                    }
                </ul>
                <ul>
                    <li>
                        @T("SevenSpikes.Themes.Lavella.Common.Phone")
                    </li>
                    <li>
                        <a href="javascript:sevenSpikes.AntiSpam('@T("SevenSpikes.Themes.Lavella.Common.EmailName")', '@T("SevenSpikes.Themes.Lavella.Common.EmailDomain")')">@T("SevenSpikes.Themes.Lavella.Common.EmailName")@T("SevenSpikes.Themes.Lavella.Common.EmailAt")@T("SevenSpikes.Themes.Lavella.Common.EmailDomain")</a>
                    </li>
                    <li>
                        @T("SevenSpikes.Themes.Lavella.Common.Address")
                    </li>
                </ul>
            </div>
            <div class="fb-two">
                <h3><span>@T("SevenSpikes.Themes.Lavella.Common.CompanyInfo")</span></h3>
                <ul>
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                </ul>
            </div>
            <div class="fb-three">
                <h3><span>@T("SevenSpikes.Themes.Lavella.Common.CustomerServices")</span></h3>
                <ul>
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a> </li>
                    @if (Model.SitemapEnabled)
                    {
                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                </ul>
            </div>
            <div class="fb-four">
                <h3><span>@T("SevenSpikes.Themes.Lavella.Common.OurOffers")</span></h3>
                <ul>
                    @if (Model.NewProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                    }
                    @if (Model.RecentlyViewedProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                    }
                    @if (Model.CompareProductsEnabled)
                    {
                        <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                    }
                    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
                    @if (Model.AllowCustomersToApplyForVendorAccount)
                    {
                        <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        @if (!removeCopyright)
        {
            <div class="footer-powered-by">
                Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                    Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
            </div>
        }
        @if (!removeDesignedBy)
        {
            <div class="footer-designed-by">
                Designed by <a href="http://www.nop-templates.com/" target="_blank">Nop-Templates.com</a>
            </div>
        }
        <div class="footer-disclaimer">
            @T("Content.CopyrightNotice", DateTime.Now.Year, "Lynexshop.com")
        </div>
        @if (Model.DisplayTaxShippingInfoFooter)
        {
            var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
            <div class="footer-tax-shipping">
                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
            </div>
        }
        <div class="accepted-payment-methods">
            <ul>
                <li class="method1"></li>
                <li class="method2"></li>
                <li class="method3"></li>
                <li class="method4"></li>
                <li class="method5"></li>
                <li class="method6"></li>
            </ul>
        </div>

        @Html.Action("StoreThemeSelector", "Common")

    </div>
    @Html.Widget("footer")
</div>
