@{
    Layout = "";
}
@model Nop.Plugin.Payments.WeiXin.Models.ConfigurationModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AppId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AppId)
                @Html.ValidationMessageFor(model => model.AppId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MchId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MchId)
                @Html.ValidationMessageFor(model => model.MchId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AppSecret):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AppSecret)
                @Html.ValidationMessageFor(model => model.AppSecret)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="save" value="save" class="k-button">
                    Save</button>
            </td>
        </tr>
    </table>
    
}