@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";


    var pageHeadBuilder = EngineContext.Current.Resolve<IPageHeadBuilder>();
    pageHeadBuilder.AddTitleParts(T("PageTitle.Checkout").Text);
    Html.AddCssFileParts("~/Plugins/Payments.WeiXin/Content/css/paymentweixin.css");
}
@model Nop.Plugin.Payments.WeiXin.Models.JsPayViewModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI


<div class="page checkout-page order-completed-page">
    <div class="page-title">
        <h1>@T("Plugins.Payments.WeiXin.YouAreUsingWechatPay")</h1>
    </div>

    <div class="wechatpay-head">
        <div class="l-col-6">
            <div class="wechatpay-orderid">订单编号: @Model.OrderId</div>
            <div class="wechatpay-orderid">订单类型: 网上支付</div>
        </div>
        <div class="l-col-6">
            <div class="wechatpay-ordertotal-container">
                应付金额: <span class="wechatpay-ordertotal">@Model.Total</span>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function onBridgeReady(){
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', {
                "appId": "@Html.Raw(Model.AppId)",     //公众号名称，由商户传入
                "timeStamp": "@Html.Raw(Model.TimeStamp)",         //时间戳，自1970年以来的秒数
                "nonceStr": "@Html.Raw(Model.NonceStr)", //随机串
                "package": "@Html.Raw(Model.Package)",
                "signType": "@Html.Raw(Model.SignType)",         //微信签名方式：
                "paySign": "@Html.Raw(Model.PaySign)" //微信签名
            },
            function(res){
                if (res.err_msg === "get_brand_wcpay_request：ok") {
                    location.href = "/";
                }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
            }
        );
    }



    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }


    $(document).ready(function() {
        setInterval("checkPaymentStatus()", 10000);
    });

    function checkPaymentStatus() {
        console.log("sending");
        var orderId = @Model.OrderId;
        if (orderId !== 0) {
            $.ajax({
                url: "/Plugins/PaymentWeiXin/QueryOrder",//调用ashx获得订单状态
                type: "POST",
                data: {
                    orderId: orderId
                },
                success: function (data) {
                    console.dir(data);
                    if (data === 'True') { //订单状态为1表示支付成功
                        window.location.href = "/Checkout/Completed"; //页面跳转
                    }
                },
                error: function () {

                }
            });
        }

    }

</script>
